<html>
    <head>
        <title>Debian Ruby Gem Dependency Service</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/wheelzoom.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css" />
        <style>
        img{    
            max-width:100%;
            max-height:100%;
        }
        </style>
    </head>
    <body class="container" style="margin-left:5%;width:90%">
        {% include 'navbar.html' %}
        <h1 style='text-align:center'>Debian Ruby Gem Dependency Service</h1>
        <h3 style='text-align:center'>Family of {{gemname}} in {{appname}} dependency chain</h3>
        <h4 style='margin-top:5%;text-align:center'>(Scroll to zoom and drag to pan)</h4>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <div style="border:1px solid">
                <img src="{{path}}" />
                </div>
           </div>
        </div>
        <script>
            wheelzoom(document.querySelectorAll('img'));
        </script>
    </body>
</html>
