<html>
    <head>
        <title>Debian Ruby Gem Dependency Service</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css" />
    </head>
    <body class="container" style="margin-left:5%;width:90%">
        {% include 'navbar.html' %}
        <h1 style='text-align:center;margin-bottom:5%'>Debian Ruby Gem Dependency Service</h1>
        <div class="row" >
            <div class="col-md-6" style="border-right: 1px solid black">
                <h2 style="text-align:center;margin-bottom:5%;margin-top:0;padding-top:0">Gem Info Generator</h2>
                <form action="/info" method="GET">
                    <div class="row">
                        <div class="col-md-4">
                            <input class="typeahead form-control" style="width:100%" type="text" placeholder="Gem Name" name="gemname" id="gemname" value="{{gemname}}" required>
                        </div>
                        <div class="col-md-4">
                            <select id="appname" name="appname" multiple="multiple" required>
                                {% for app in apps %}
                                <option value="{{app}}" {% if "{{app}}" in gemlist %} selected="true" {% endif %}>{{app.title()}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h2 style="text-align:center;margin-bottom:5%;margin-top:0;padding-top:0">Common Gem Comparator</h2>
                <form action="/compare" method="GET">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="appname2" name="appname" multiple="multiple" required>
                                {% for app in apps %}
                                <option value="{{app}}" {% if "{{app}}" in gemlist %} selected="true" {% endif %}>{{app.title()}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
$(document).ready(function() {
    $('#appname').multiselect(
            {nonSelectedText: 'Select apps to check!', buttonWidth: '100%'}
            );
    $('#appname2').multiselect(
            {nonSelectedText: 'Select apps to compare!', buttonWidth: '100%'}
            );
});
        </script>
        <script>
var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
                matches.push(str);
            }
        });

        cb(matches);
    };
};

/*var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
  ];
 */
                                var states = {{gemnames}}

                                $('.typeahead').typeahead({
                                    hint: true,
                                    highlight: true,
                                    minLength: 1
                                },
                                {
                                    name: 'states',
                                    limit: 100,
                                    source: substringMatcher(states)
                                });
        </script>
    </body>
</html>
