<html>
    <head>
        <title>Debian Ruby Gem Dependency Service</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css" />
    </head>
    <body style="margin-left:5%;width:90%">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">GemDeps</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://wiki.debian.org/Teams/Ruby" target="_blank">Ruby Team @ Debian Wiki</a></li>
                                <li><a href="https://wiki.debian.org/Diaspora/Packaging" target="_blank">Ruby Packaging HowTo</a></li>
                                <li><a href="http://anonscm.debian.org/cgit/pkg-ruby-extras/" target="_blank">Debian Ruby Alioth Git Repo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="http://wnpp.debian.net/" target="_blank">WNPP Packages</a></li>
                                <li><a href="https://ftp-master.debian.org/new.html" target="_blank">NEW Packages</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="http://gitlab.com/debian-ruby/" target="_blank">Unofficial Gitlab repo</a></li>
                                <li><a href="http://gitlab.com/debian-ruby/TaskTracker/issues" target="_blank">Issue Tracker</a></li>
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Development Statistics<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/status/diaspora">Diaspora</a></li>
                                <li><a href="/status/gitlab">GitLab</a></li>
                                <li><a href="/status/asciinema">Asciinema</a></li>
                            </ul>
                        </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about">Gemdeps</a></li>
                                <li><a href="https://gitlab.com/balasankarc/gemdeps_pytho://gitlab.com/balasankarc/gemdeps_python" target="_blank">Source</a></li>
                                <li><a href="https://pypi.python.org/pypi/gemfileparser" target="_blank">Gemfileparser</a></li>
                                <li><a href="copyright">Copyright</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <h1 style='text-align:center'>Debian Ruby Gem Dependency Service</h1>
        <div class="row">
            <form action="/" method="POST">
                <div class="row" style="margin-left:5%;width:90%">
                    <div class="col-md-4">
                        <input class="typeahead form-control" style="width:100%" type="text" placeholder="Gem Name" name="gemname" id="gemname" value="{{gemname}}" required>
                    </div>
                    <div class="col-md-4">
                        <select id="appname" name="appname" multiple="multiple" required>
                            <option value="diaspora" {% if 'diaspora' in gemlist%} selected="true"  {% endif %}>Diaspora</option>
                            <option value="gitlab" {% if 'gitlab' in gemlist%} selected="true"  {% endif %}>GitLab</option>
                            <option value="asciinema" {% if 'asciinema' in gemlist%} selected="true"  {% endif %}>Asciinema</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success form-control">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="margin-left:5%;width:90%">
            {% if gemlist %}
            {% for app in gemlist %}
            {% if gemlist[app] %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ app.title() }}</div>
                <div class="panel-body">
                    {% for gem in gemlist[app] %}
                    Name : {{ gem['name'] }} <br />
                    Group: {{ gem ['group'].title() }} <br />
                    Debian Name : {{ gem['debian_name'] }} <br />
                    Debian Version: {{gem ['version'] }} <br />
                    Parent : {{ gem['parent'] }} <br />
                    Requirement: {{ gem['requirement']}}

                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if flag == 0 %}
            <div class="alert alert-danger">No results returned</div>
            {% endif %}
        </div>
        <script type="text/javascript">
$(document).ready(function() {
    $('#appname').multiselect(
            {nonSelectedText: 'Select apps to check!', buttonWidth: '100%'}
            );
});
        </script>
        <script>
var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
        var matches, substringRegex;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
                matches.push(str);
            }
        });

        cb(matches);
    };
};

/*var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
  ];
 */
                    var states = {{gemnames}}

                    $('.typeahead').typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 1
                    },
                    {
                        name: 'states',
                        source: substringMatcher(states)
                    });
        </script>
    </body>
</html>
