<html>
    <head>
        <title>Debian Ruby Gem Dependency Service</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css" />
    </head>
    <body class="container" style="margin-left:5%;width:90%">
        {% include 'navbar.html' %}
        <h1 style='text-align:center'>Debian Ruby Gem Dependency Service</h1>
        <div class="alert alert-danger">No files to generate statistics found. Please run gemdeps</div>
    </body>
</html>
