<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GemDeps</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://wiki.debian.org/Teams/Ruby" target="_blank">Ruby Team @ Debian Wiki</a></li>
                        <li><a href="https://wiki.debian.org/Diaspora/Packaging" target="_blank">Ruby Packaging HowTo</a></li>
                        <li><a href="http://anonscm.debian.org/cgit/pkg-ruby-extras/" target="_blank">Debian Ruby Alioth Git Repo</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://wnpp.debian.net/" target="_blank">WNPP Packages</a></li>
                        <li><a href="https://ftp-master.debian.org/new.html" target="_blank">NEW Packages</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://gitlab.com/debian-ruby/" target="_blank">Unofficial Gitlab repo</a></li>
                        <li><a href="http://gitlab.com/debian-ruby/TaskTracker/issues" target="_blank">Issue Tracker</a></li>
                    </ul>
                </li>
                {% if apps %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Packaging Progress Statistics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for app in apps %}
                        <li><a href="/status/{{app}}">{{app.title()}}</a></li>
                        {% endfor %}
                        <li class="nav-divider"></li>
                        <li><a href="https://gitlab.com/debian-ruby/gemdeps-generator">Add new version</a></li>
<!--                        <li><a href="/status/diaspora">Diaspora</a></li>-->
                        <!--<li><a href="/status/gitlab">GitLab</a></li>-->
                        <!--<li><a href="/status/asciinema">Asciinema</a></li>-->
                    </ul>
                </li>
                {% endif %}
                <li><a href="/api">API</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://gitlab.com/debian-ruby/gemdeps-generator"><button class="btn btn-primary btn-sm">Add new version</button></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
