<html>
    <head>
        <title>Debian Ruby Gem Dependency Service</title>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-multiselect.min.js"></script>
        <script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.min.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" />
        <script>
$(function(){
    $.extend($.tablesorter.themes.bootstrap, {
        table      : 'table table-bordered',
        header     : 'bootstrap-header',
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up',
        sortDesc   : 'icon-chevron-down',
    });
    $('table').tablesorter({
        theme : "bootstrap",
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme","indexFirstColumn" ],
        usNumberFormat : false,
        sortReset      : true,
        sortRestart    : true
    });
});


$(document).ready(function() {
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    if (window.location.href.contains('sort='))
    {
        var dictionary = {'gem': 1, 'requirement': 2, 'debversion': 3, 'suite': 4, 'status': 5, 'satisfied': 6};
        var t = getParameterByName('sort');
        $('table').tablesorter(); 
        var sorting = [[dictionary[t],0]]; 
        $('table').trigger("sorton",[sorting]); 
        table = $('.tablesorter')[0];
        for(var i=0; i < table.tBodies[0].rows.length; i++)
        {
            $("tbody tr:eq(" + i + ") td:first",table).html(i+1);
        }                                   

    }
}
);


$(function() {
    // add new widget called indexFirstColumn
    $.tablesorter.addWidget({
        // give the widget a id
        id: "indexFirstColumn",
        // format is called when the on init and when a sorting has finished
        format: function(table) {               
            // loop all tr elements and set the value for the first column  
            for(var i=0; i < table.tBodies[0].rows.length; i++) {
                $("tbody tr:eq(" + i + ") td:first",table).html(i+1);
            }                                   
        }
    });
});



        </script>
        <style>
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #E1A3E0;
}
.table > thead > tr > td.itp, .table > tbody > tr > td.itp, .table > tfoot > tr > td.itp, .table > thead > tr > th.itp, .table > tbody > tr > th.itp, .table > tfoot > tr > th.itp, .table > thead > tr.itp > td, .table > tbody > tr.itp > td, .table > tfoot > tr.itp > td, .table > thead > tr.itp > th, .table > tbody > tr.itp > th, .table > tfoot > tr.itp > th {
    background-color: #5BC0DE;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
}
.span1 {
    text-align: center;
}
.green {
    background-color: #DFF0D8;
}
.red {
    background-color: #F2DEDE;
}
.yellow {
    background-color: #FCF8E3;
}
.cyan {
    background-color: #5BC0DE;
}
.violet {
    background-color: rgba(230, 94, 255,0.5);
}
        </style>

    </head>
    <body class="container" style="margin-left:5%;width:90%">
        {% include 'navbar.html' %}
        <center><h1>Debian {{appname}} Packaging Status</h1></center>
        <center>Updated on {{updated_time}}</center>
        <br />
        <center><a href="./?type=todo"><button class="btn btn-primary">Get ToDO list</button></a></center>
        <div class="row header" width="100%">
            <table style="width:100%;margin-top:1%;text-align:center">
                <tr>
                    <td>Total</td>
                    <td>Packaged</td>
                    <td>ITP</td>
                    <td>Unpackaged</td>
                    <td>Status</td>
                    <td>Unsatisfied</td>
                </tr>
                <tr>
                    <td><h2>{{total}}</h2></td>
                    <td style="color:green"><h2>{{packaged_count}}</h2></td>
                    <td style="color:#5BC0DE"><h2>{{itp_count}}</h2></td>
                    <td style="color:red"><h2>{{unpackaged_count}}</h2></td>
                    <td><h2>{{percent_complete}}%</h2></td>
                    <td style="color:#E65EFF"><h2>{{mismatch_count}}</h2></td>
                </tr>
            </table>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: {{packaged_count*100/total}}%;"></div>
                <div class="progress-bar progress-bar-danger" style="width: {{unpackaged_count*100/total}}%;"></div>
                <div class="progress-bar progress-bar-info" style="width: {{itp_count*100/total}}%;"></div>
            </div>
        </div>
        <div class="row well">
            <table class="table table-bordered tablesorter">
                <thead>
                    <tr>
                        <th data-sorter="false" class="{sorter: false}">Sl. No</th>
                        <th>Gem</th>
                        <th>Gem Requirement</th>
                        <th>Debian Version</th>
                        <th>Suite</th>
                        <th>Status</th>
                        <th>Satisfied?</th>
                    </tr>
                </thead>
                {% set count = 1 %}
                {% for dep in deps %}
                <tr class="{{ dep['color'] }}">
                    <td>{{count}}</td>
                    {% set count = count+1 %}
                    <td>
                        {% if dep.link %}
                        <a href={{dep.link}}>{{dep.name}}</a>
                        {% else %}
                        {{dep.name}}
                        </a>
                        {% endif %}
                        <br />
                        <a href="http://rubygems.org/gems/{{ dep['name'] }}">RG</a> | 
                        <a href="/info?gemname={{dep['name']}}">Info</a>
                    </td>
                    <td>{{ dep.requirement|join(', ') }}</td>
                    <td>{{ dep.version }}</td>
                    <td>{{ dep.suite }}</td>
                    <td>{{ dep.status }}</td>
                    {%if dep.satisfied == True %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        </div>
        * RG = Link to RubyGems page || * Info = Info from gemdeps
    </body>
</html>
